# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
target/
temp/
src/main/resources/static
src/main/webapp/app/tmp
src/main/webapp/app/out-tsc

# dependencies
src/main/webapp/app/node_modules

# IDEs and editors
.project
.classpath
.settings/

# IDE - VSCode
.vscode/
src/main/webapp/app/.vscode/*
!src/main/webapp/app/.vscode/settings.json
!src/main/webapp/app/.vscode/tasks.json
!src/main/webapp/app/.vscode/launch.json
!src/main/webapp/app/.vscode/extensions.json

# misc
src/main/webapp/app/.sass-cache
src/main/webapp/app/connect.lock
src/main/webapp/app/coverage
src/main/webapp/app/libpeerconnection.log
src/main/webapp/app/npm-debug.log*
src/main/webapp/app/testem.log
src/main/webapp/app/typings

# e2e
src/main/webapp/app/e2e/*.js
src/main/webapp/app/e2e/*.map

# System Files
.DS_Store
Thumbs.db
