<div>
  <form novalidate (ngSubmit)="onLogin()">
    <md-card>
      <md-card-title>Se connecter</md-card-title>
      <md-card-subtitle *ngIf="loginFailed">Identifiant incorrect !</md-card-subtitle>
      
      <md-card-content>
        <md-input-container>
          <input mdInput placeholder="Email" [(ngModel)]="username" name="username">
        </md-input-container> <br/>

        <md-input-container>
          <input mdInput placeholder="Password" type="password" [(ngModel)]="password" name="password">
        </md-input-container> <br/>

        <md-checkbox [(ngModel)]="rememberme" name="rememberme">Se souvenir de moi</md-checkbox> <br/>
      </md-card-content>

      <md-card-actions>
        <button md-raised-button type="submit">Se connecter</button>
      </md-card-actions>
    </md-card>
  </form>
</div>